node_modules
**/__pycache__
**/.pyc
*.py[cod]
*$py.class
spm_project/src/Flask/ljapi/__pycache__/api.cpython-39.pyc
spm_project/src/Flask/ljapi/__pycache__/application.cpython-310.pyc
spm_project/src/Flask/ljapi/__pycache__/models.cpython-310.pyc
spm_project/src/Flask/ljapi/__pycache__/application.cpython-310.pyc
spm_project/src/Flask/ljapi/__pycache__/config.cpython-310.pyc
